/* HIJACKED TAGS AND BASIC STUFF */
body {
	/*background: url("../img/bg.png");*/
	background-color: 	#55acee;
}

div {
	overflow: hidden;
}

ul {
	margin-top: 0;
	text-align: justify;
}

/*li {
	list-style: none;
}*/
li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;

}

h1 {
	font-family: 'Pacifico', cursive;
	font-size:50px;
	color: #F34A53;	
	letter-spacing: .05em;
	display: inline;
}

h2 {
	color: #55acee;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 30px;
	border-bottom: 2px solid #819E45;

}

p {
	font-family: georgia, serif;
	max-width: 100%;
	line-height: 1.5em;
}



/* NAVIGATION SHENANIGANS */
.nav {
 height: 55px;
 font-family: 'Gafata', sans-serif;
 font-size: 25px;
 padding-top: 20px;
 text-align: center;
 min-width:350px;
 border-radius: 20px;

}

.topbox {
	background: #f3f3f3;
	padding-bottom: 40px;
	margin-top: 20px;
	height: 30px;
	border-radius: 10px;
	overflow: hidden;
}

nav ul li {
	list-style: none;
	display: inline;
}
/* LINK EFFECTS AND STUFF */
a:link, a:visited {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #F34A53;
}

section img+p {
	display: inline;
	margin-left: 20px;

}

.infobox {
	background: #f3f3f3;
	padding-left: 20px;
}	

.bubble {
	padding: 60px 20px 0 130px;
	height: 10%;
	width: 10%;
}

.title {
	color: #F34A53;
	font-size: 20px;
	font-family: 'Carrois Gothic SC', sans-serif;
}

.likes {
	text-align: center;
}


.center {
	padding-left: 270px;
}

.footer {
	font-size: 10px;
	font-style: italic;
}